.branches__container {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 20px 40px;
  background: #fff;
}

.branches__title {
  font-size: 1.75rem;
  font-weight: normal;
  margin: 1rem 0px 1.25rem 0px;
  color: #000;
}

.branches__toolbar {
  border-bottom: 1px solid #aaaeb3;
  width: 60rem;
  padding-bottom: 1.25rem;
}

.branches__button-accent {
  width: 10rem;
  padding: 0.375rem 0.75rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  background: #1f51ff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 0.5rem;
}
.branches__button-accent:hover {
  cursor: pointer;
  background: rgba(31, 81, 255, 0.9);
}