.stepper-wrapper {
}

.stepper-timeline {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #fff;
  margin: 0px 20px 20px 20px;
  padding: 0px;
}

.stepper-timeline__item {
  display: flex;
  gap: clamp(0.25rem, 2vw, 0.5rem);
  align-items: center;
}

.stepper-dot {
  display: block;
  width: clamp(1rem, 5vw, 1.5rem);
  height: clamp(1rem, 5vw, 1.5rem);
  color: #fff;
  border: none;
  border-radius: 50%;
  background-color: lightgrey;
}
.stepper-dot:hover {
  cursor: pointer;
  background: rgba(220, 20, 60, 0.2);
}
.stepper-dot:disabled {
  cursor: default;
  background-color: lightgrey;
}

.stepper-timeline__item:not(:last-child) {
  flex: 1;
}
.stepper-timeline__item:not(:last-child):after {
  content: "";
  z-index: 1;
  height: 1px;
  background-color: #ccc;
  flex: 1;
  margin-right: 0.5rem;
}

.stepper-timeline__title {
  font-weight: normal;
  font-size: 0.75rem;
  color: grey;
}

.stepper-timeline__desc {
  font-size: 0.75rem;
}