.react-datepicker__input-container input {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  width: 28rem;
  padding: 2rem 0.625rem 0.625rem 0.625rem;
  font-size: 1.125rem;
}

.react-datepicker-popper {
    z-index: 9999 !important;
}

.react-datepicker__triangle {
    left: -110px !important;
}