.nav-bar {
  position: fixed;
  list-style-type: none;
  /* width: calc(100vw / 3); */
  width: 100vw;
  height: 39px;
  margin: auto;
  padding: 0;
  color: #000;
  background-color: #f5f5f5;
  border-bottom: 1px solid #aaaeb3;
  z-index: 30;
}

.logo {
  width: 25px;
  margin: 6px -3px 0px 20px;
}

.nav-bar-item {
  float: left;
}

.nav-bar-item-right {
  float: right;
}

.nav-bar-item a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.nav-button {
  color: #000;
  background: none;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 14px;
  border: 0px solid #000;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px 10px;
}
.nav-button:hover {
  border: 1px solid #000;
  border-radius: 3px;
  margin: 4px 9px;
}
.nav-button-selected {
  color: #000;
  background: none;
  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 14px;
  margin: 4px 9px;
  cursor: default;
}

.dropdown-container {
  position: relative;
}
.user-button {
  margin: 4px 50px;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}
.user-button:hover{
  border: 1px solid #000;
}
.user-icon {
  width: 20px;
  margin: 2px 5px 0px 5px;
  padding: 0px;
  float: right;
  /* border: 1px solid black; */
  border-radius: 50%
  /* filter:  brightness(0) invert(1); */
}
/* .user-icon:hover {
  filter: invert(17%) sepia(67%) saturate(7492%) hue-rotate(357deg) brightness(90%) contrast(128%);
} */
.user-tooltip {
  visibility: hidden;
  position: absolute;
  width: 80px;
  top: 50px;
  left: -20px;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #ffc300;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}




.about-button {
  padding: 0px 6px;
  border: 0px solid #fff;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  color: #fff;
  margin: 5px 4px;
  font-size: 33px;
  font-weight: 600;
}
.about-button:hover {
  border: 2px solid #fff;
  margin: 3px 2px;
}



.hamburger-icon {
  width: 15px;
  margin: 5px 10px 0px 5px;
}