.nav-bar {
  position: fixed;
  list-style-type: none;
  /* width: calc(100vw / 3); */
  width: 100vw;
  /* height: 39px; */
  height: 2.5rem;
  margin: auto;
  padding: 0;
  color: #000;
  background-color: #f5f5f5;
  border-bottom: 1px solid #aaaeb3;
  z-index: 30;
}

.logo {
  width: 1.5rem;
  margin: 6px -3px 0px 20px;
}

.nav-bar-item {
  float: left;
}

.nav-bar-item-right {
  float: right;
}

.home-button {
  color: #000;
  background: none;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin: 5px 10px;
}

.nav-button {
  color: #000;
  background: none;
  padding: 0.375rem 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  border: 0px solid #000;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px 10px;
}
.nav-button:hover {
  border: 1px solid #000;
  border-radius: 3px;
  margin: 4px 9px;
}
.nav-button-selected {
  color: #000;
  background: none;
  background-clip: padding-box;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 0.375rem 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  margin: 4px 9px;
  cursor: default;
}

.dropdown-container {
  position: relative;
}
.user-button {
  margin: 4px 50px;
  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}
.user-button:hover{
  border: 1px solid #000;
}
.user-icon {
  width: 1.25rem;
  margin: 2px 5px 0px 5px;
  padding: 0px;
  float: right;
  border-radius: 50%
}

.hamburger-icon {
  width: 1rem;
  margin: 5px 10px 0px 5px;
}