.listingform-stepper__timeline {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  line-height: 1.3rem;
  color: #fff;
  margin: 0px 20px 20px 20px;
  padding: 0px;
}

.listingform-stepper__item {
  display: flex;
  gap: clamp(0.25rem, 2vw, 0.5rem);
  align-items: center;
}
.listingform-stepper__item:not(:last-child) {
  flex: 1;
}
.listingform-stepper__item:not(:last-child):after {
  content: "";
  z-index: 1;
  height: 1px;
  background-color: #ccc;
  flex: 1;
  margin-right: 0.5rem;
}

.listingform-stepper__button {
  display: flex;
  color: #fff;
  border: none;
  background: none;
}

.listingform-stepper__dot {
  display: block;
  width: clamp(1.5rem, 5vw, 1.8rem);
  height: clamp(1.5rem, 5vw, 1.8rem);
  color: #fff;
  border: none;
  border-radius: 50%;
  background-color: lightgrey;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.8rem;
}
.listingform-stepper__button:hover > .listingform-stepper__dot {
  cursor: pointer;
  background: grey;
}
.listingform-stepper__dot:disabled {
  cursor: default;
  background-color: lightgrey;
}

.listingform-stepper__title {
  font-weight: normal;
  font-size: 1.15rem;
  line-height: 1.8rem;
  color: lightgrey;
  padding-left: 0.5rem;
}
.listingform-stepper__button:hover > .listingform-stepper__title {
  cursor: pointer;
  color: grey;
}

.listingform-stepper__desc {
  font-size: 0.75rem;
}
