.login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50; 
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  text-align: center;
  padding: 20px 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

.login-button {
  position: relative;
  border: 1px solid #DC143C;
  border-radius: 3px;
  background: linear-gradient(45deg, #FF1493 0%, #DC143C 100%);
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  margin: 0px 0px 20px 0px;
  color: #fff;
}
.login-button:hover {
  cursor: pointer;
  background: linear-gradient(45deg, rgba(255,20,147, 0.8) 0%, rgba(220, 20, 60, 0.8) 100%);
}

.login-submitting-button {
  position: relative;
  border: 1px solid #DC143C;
  border-radius: 3px;
  background: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  margin: 0px 0px 20px 0px;
  color: transparent;
}

/* LOADING BUTTON START */
.login-submitting::after {
  font-size: 12px;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid #DC143C;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-submitting-spinner 1s ease infinite;
}

@keyframes button-submitting-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
/* LOADING BUTTON END */

.login-input-style {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 80%;
  padding: 10px;
}

.login-form-error {
  padding: 10px 0px 0px 0px;
  margin: 0px;
  font-size: 14px;
  color: #ff0033;
}

.login-form-submission-error {
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  font-size: 14px;
  color: #ff0033;
}

.login-legal-text {
  color: #4169E1;
}
.login-legal-text:hover {
  cursor: pointer;
}

.login-suggestion {
  font-size: 14px;
  padding: 0px;
  margin: 0px 0px 20px 0px;
}

.login-suggestion-button {
  text-decoration: underline;
  color: #1F51FF;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;

}
.login-suggestion-button:hover {
  cursor: pointer;
}
