.update-company-container {
  margin: auto;
  padding: 0px 60px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.update-company-contents {
  text-align: center;
  padding: 0px 20px;
}

.company-update-form-container {
  text-align: left;
}

.view-company-button {
  position: absolute;
  right: 20px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
}

.view-company-button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
}
