.my-order {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 20px;
  margin: 0px 20px 20px 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.my-order-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
  /* border: 1px solid black; */
}

.my-order-section {
  padding: 20px;
  position: relative;
  /* border: 1px solid black; */
}

.my-order-section {
  font-size: 24px;
}

.seller-title {
  font-weight: 600;
  font-size: 15px;
}

.seller-subtitle {
  font-weight: 400;
  margin: -5px 0px 0px 0px;
  font-size: 12px;
}

.seller-content {
  font-size: 14px;
}

.invoice-title {
  font-weight: 600;
  font-size: 12px;
  text-align: left;
}

.order-date {
  position: absolute;
  color: grey;
  right: 0px;
  top: 0px;
  font-size: 10px;
}

/* CALENDAR BUTTON START */
.edit-service-button {
  /* position: absolute;
  bottom: 40px;
  left: 40px; */
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 0px;
  cursor: pointer;
}

.edit-service-button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
}
.edit-service-button:disabled {
  background-color: #fff;
  color: #bebebe;
  border: 1px solid #bebebe;
}

/* CALENDAR BUTTON END */

.order-section-divider {
  border-width: 0.5px;
  border-style: inset;
  color: #000;
  margin: 0px 20px 0px 20px;
}