.direct-messages-container {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 20px 40px;
  background: #fff;
}

.direct-messages-toolbar {
  border-bottom: 1px solid #ccc;
}

.direct-messages-title {
  /* border: 1px solid #ccc; */
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 30px 0px;
  color: #505050;
}

.direct-messages-button {
  background: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 6px 12px;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}
.direct-messages-button:hover {
  cursor: pointer;
  font-weight: 600;
  color: #000;
}
.direct-messages-button-active {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid #1f51ff;
  margin: 0px 5px -2px 0px;
}

.direct-messages-contents-container {
  width: 768px;
  padding-top: 20px;
}

.direct-messages-master-button {
  float: right;
  margin: -10px 0px 10px 10px;
  padding: 6px 12px;
  color: #1f51ff;
  background: #fff;
  border: 1px solid #1f51ff;
  border-radius: 5px;
}
.direct-messages-master-button:hover {
  cursor: pointer;
  background: rgba(31, 81, 255, 0.05);
}