@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* SCROLLBAR */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray #eee;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1.25rem;
  border: 3px solid #eee;
}

* {
  font-family: "Quicksand", sans-serif;
}