.watch-button {
  position: absolute;
  left: 0;
  font-size: 0.75rem;
  z-index: 10;
  padding: 0.375rem;
  margin: 0;
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
  background: none;
  color: #fff;
}

.watch-icon {
  width: 1.25rem;
  object-fit: contain;
}
.watch-icon:hover {
  cursor: pointer;
  filter: invert(17%) sepia(67%) saturate(7492%) hue-rotate(357deg) brightness(90%) contrast(128%);
}

.unwatch-icon {
  width: 1.25rem;
  object-fit: contain;
  filter: invert(17%) sepia(67%) saturate(7492%) hue-rotate(357deg) brightness(90%) contrast(128%);
}
.unwatch-icon:hover {
  cursor: pointer;
  filter: brightness(0) invert(1);
}