.watch-button {
  position: absolute;
  left: 0px;
  font-size: 12px;
  z-index: 10;
  padding: 6px 6px 0px 6px;
  margin: 0px;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  background: none;
  color: #fff;
}

.watch-icon {
  width: 20px;
  object-fit: contain;
}
.watch-icon:hover {
  cursor: pointer;
  filter: invert(17%) sepia(67%) saturate(7492%) hue-rotate(357deg) brightness(90%) contrast(128%);
}

.unwatch-icon {
  width: 20px;
  object-fit: contain;
}
.unwatch-icon:hover {
  cursor: pointer;
  filter: brightness(0) invert(1);
}