
.listing-contents__container {
  display: grid;
  grid-template-columns: repeat(auto-fill);
  gap: 5px;
  grid-auto-flow: dense;
}
.content-image {
  width: 100%;
}

@media all and (min-width: 1025px) {
  .listing-contents__container {
    grid-template-columns: repeat(auto-fill, minmax(512px, 1fr));
  }
}

@media all and (min-width: 1921px) {
  .listing-contents__container {
    grid-template-columns: repeat(auto-fill, minmax(960px, 1fr));
  }
}

.listing-descriptions-container {
  position: fixed;
  left: 50vw;
  top: 55px;
  max-height: calc(100vh - 95px);
  overflow-y: scroll;
  background: rgba(255,255,255,0.9);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}
.listing-contacts-container {
  position: fixed;
  right: 0px;
  top: 55px;
  max-height: calc(100vh - 95px);
  min-width: 200px;
  overflow-y: scroll;
  background: rgba(255,255,255,0.9);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.close-position {
  position: fixed;
  top: 55px;
  right: 0px;
  margin: 30px;
  z-index: 2;
}