.listing-page__container {
  height: calc(100vh - 2.5rem);
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  background-image: linear-gradient(to bottom left, rgba(199,128,250, 0.5), rgba(253,138,138, 0.5));
}

.listing-page__section-one {
  height: calc(100vh - 7.5rem);
  background: #fff;
  border-radius: 0 3rem 3rem 0;
  padding: 2.5rem;
}

.listing-page__section-two {
  height: calc(100vh - 7.5rem);
  padding: 2.5rem;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

#listing-page__section-two::-webkit-scrollbar {
  width: 0.5rem;
}

#listing-page__section-two::-webkit-scrollbar-track {
  background: none;
  border: none;
}

#listing-page__section-two::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-image: linear-gradient(to bottom, #F675A8, #554994);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #554994), color-stop(1, #F675A8));
  border: none;
}

.listing-page__section-three {
  height: calc(100vh - 7.5rem);
  background: rgba(255,255,255,0.6);
  border-radius: 3rem 0 0 3rem;
  padding: 2.5rem;
}

.listing-content__wrapper {
  width: 27vw;
  height: 15vw;
}

.content-image {
  width: 27vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 1rem;
}
.content-image:hover {
  cursor: pointer;
}

