.agency-container{
    /* border: 1px solid blue; */
    height: 100vh;
    display: grid;
    grid-template-columns: calc(100vw / 3) calc((100vw / 3) * 2);
}

.section-one {
    border: 1px solid black;
    height: calc(100vh - 55px);
    padding-top: 50px;
    /* display: grid;
    grid-template-rows: auto auto; */
}

.section-two {
    /* border: 1px solid #ccc; */
    height: calc(100vh - 5px);
}

.section-one > article {
    /* border: 1px solid #ccc; */
    padding: 0px 20px;
}

.section-two > article {
    /* border: 1px solid #ccc; */
    padding: 0px 20px;
}

.agency-title{
    font-size: 24px;
    font-weight: 600;
}