/* TAG */
.payment-tag {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 12px;
    z-index: 10;
    padding: 3px 6px;
    /* border: 1px solid black; */
    border-radius: 3px;
    font-weight: 600;
  }
  
  .red {
    background-color: #cc0000;
    color: #fff;
  }
  
  .green {
    background-color: #50C878;
    color: #fff;
  }
  
  .grey {
    background-color: grey;
    color: #fff;
  }

  .amber {
    background-color: #FFBF00;
    color: #000;
  }
  /* TAG */

  