.calendar-text-container {
  position: relative;
  padding-top: 10px;
}

.booking-tab-cancel-button {
  position: absolute;
  top: 25px;
  right: 0px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.booking-tab-cancel-button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid black;
}
