.new-tab-button {
  position: relative;
  top: 3px;
  right: 3px;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
  text-align: center;
}

.new-tab-button:hover .new-tab-tooltip {
  visibility: visible;
}

.new-tab-icon {
  width: 20px;
  object-fit: contain;
}

.new-tab-icon:hover {
  filter: invert(17%) sepia(67%) saturate(7492%) hue-rotate(357deg) brightness(90%) contrast(128%);
}

.new-tab-tooltip {
  visibility: hidden;
  position: absolute;
  width: 110px;
  height: auto;
  top: 27px;
  right: -50px;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #ffc300;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
