.toolbar-container {
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid #aaaeb3;
  border-left: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  height: 27px;
  width: calc((100vw / 3) - 100px);
  position: fixed;
  top: 140px;
  left: calc((100vw / 3) + 20px);
  color: #000;
  background: #f5f5f5;
  margin: auto;
  padding: 0;
  display: inline-grid;
  grid-template-columns: auto 50px 50px 50px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.toolbar-title {
  /* border: 1px solid black; */
  position: relative;
  padding-top: 5px;
  padding-left: 20px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
}

.toolbar-locate {
  /* border: 1px solid black; */
  text-align: right;
}

.toolbar-newtab {
  /* border: 1px solid black; */
  text-align: right;
}

.toolbar-x {
  /* border: 1px solid black; */
  text-align: right;
}
