.toolbar-container {
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid #aaaeb3;
  border-left: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  height: 30px;
  width: calc(((100vw * 0.618) * 0.382) + 1rem);
  position: fixed;
  top: 90px;
  left: calc((100vw * 0.382) + 10px);
  color: #000;
  background: #dcdcdc;
  margin: auto;
  padding: 0;
  display: inline-grid;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.toolbar-title {
  /* border: 1px solid black; */
  position: relative;
  padding-top: 5px;
  padding-left: 20px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
}

.toolbar-button {
  /* border: 1px solid black; */
  text-align: right;
}
