.watch-button-toolbar {
  position: relative;
  top: 3px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
  text-align: center;
}

.watch-icon-toolbar {
  width: 18px;
  object-fit: contain;
}

.watch-icon-toolbar:hover {
  cursor: pointer;
  filter: invert(17%) sepia(67%) saturate(7492%) hue-rotate(357deg) brightness(90%) contrast(128%);
}


.unwatch-icon-toolbar {
  width: 18px;
  object-fit: contain;
}

.unwatch-icon-toolbar:hover {
  cursor: pointer;
  filter: brightness(0) invert(1);
}