.listing-form__container {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 20px 40px;
  background: #fff;
}

.listing-form__title {
  font-size: 1.75rem;
  font-weight: normal;
  margin: 1rem 0px 1.25rem 0px;
  color: #000;
}

.listing-form__portfolio {
  font-weight: normal;
  cursor: pointer;
  color: grey;
}
.listing-form__portfolio:hover {
  cursor: pointer;
  color: #ccc;
}

.listing-form__toolbar {
  width: 60rem;
}

.listing-form__contents {
  padding-top: 2rem;
  width: 60rem;
}
