.loader {
  border: 5px solid #000;
  border-radius: 50%;
  border-top: 5px solid #fff;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  /* center both vertically and horizontally */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-content {
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: calc(50% + 20px);
  bottom: 0px;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #000;
  padding: 5px;
}