.detailed-info-container {
    padding: 20px 20px 20px 20px;
}

.listing-details-title {
    font-size: 16px;
    font-weight: 600;
}

.listing-details-dimensions {
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.listing-details-text {
    font-size: 14px;
    font-weight: 400;

}