.details-divider {
  border-width: 0.5px;
  border-style: inset;
  color: #f5f5f5;
  margin: 0px 20px;
}

.listing-features-container {
    padding: 0px 20px 20px 20px;
}

.feature-text {
  font-size: 14px;
}
