.listing-detailed-info-container {
  margin: 1.25rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.listing-details-title {
  font-size: 1rem;
  font-weight: bold;
}

.listing-details-dimensions {
  font-size: 0.875rem;
  font-weight: normal;
  color: grey;
}

.listing-details-text {
  font-size: 0.875rem;
  font-weight: normal;
}
