.leaflet-container {
  position: fixed;
  top: 20px;
  right: 0px;
  height: calc(100vh - 20px);
  width: calc((100vw / 3) * 2);
  /* width: 100vw; */
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.loading-map {
  position: relative;
  padding-top: calc(50vh + 200px);
}

.leaflet-control { 
  z-index: 2 !important;
  /* top: 20px; */
}
.leaflet-pane { 
  z-index: 2 !important;
}
.leaflet-top, .leaflet-bottom {z-index: 2 !important}

.leaflet-control-geosearch {
  top: 20px;
}