.my-jobs-container {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 20px 40px;
  background: #fff;
}
.my-jobs-toolbar {
  border-bottom: 1px solid #ccc;
}

.my-jobs-title {
  /* border: 1px solid #ccc; */
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 30px 0px;
  color: #505050;
}

.my-job-button {
  background: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 6px 12px;
  margin: 0px 5px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}
.my-job-button:hover {
  cursor: pointer;
  font-weight: 600;
  color: #000;
}
.my-job-button-active {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid #1F51FF;
  margin: 0px 5px -2px 0px;
}

.my-jobs-contents {
  padding: 0px;
  margin-top: 20px;
}

.my-jobs-link {
  text-decoration: none;
  color: #505050;
}

.my-jobs-item {
  margin: 0px 20px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
